h1{
    background-color:gray;
    padding-bottom: 50px;
    padding-top: 10px;
    font-size: 2.5em;
}

#play{
    background-color:green;
    color:white;
    border-radius:10px;
    padding:20px;
}
#jackpot{
    font-size:2em;
}
#amount{
    font-size:2em;
}
#winnings{
    font-size:2em;
}