#body{
    padding-left:25px;
}

.jumbotron{
    white-space: pre;
    background-color:#009CFF;
    color:white; 
    text-align:left;
    font-size:40px; 
}

#passwordError{
    margin-left:70px;    
    color:red;
}

#submitBtn{
    margin-left:190px;
}

#footer{
    width:404px;
    margin:0 auto; /* centers a div */
}